<?xml version="1.0" encoding="UTF-8"?>
<!--This web.config is only to support webpack build from soil package and will not be used by Identifi IIS web servers. 
Identifi IIS web servers use a single root web.config for all clinical apps. The web.config from laucher will be deployed to IIS as the root web.config.
Pls refer to launcher code base in "Identifi" repository for the full web.config details.-->
<configuration>  
  <location path="LetterAdminTool/index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
